.App {
  text-align: center;
  user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  background-color: rgb(185, 194, 201) !important;
}

.App-link {
  color: #61dafb;
}