.Aside {
    position: absolute;
    z-index: 85 !important;
    min-width: 9em;
    width: 15vw;
    height: 86vh;
    margin-top: 5.7rem;
    padding: 2em 0;
    background-color: rgba(49, 66, 80, 1);
    overflow: auto;
}

.Aside-content {
    margin: 4em 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 4em 2em 2em 2em 2em 2em;
    gap: 1.7em;
    grid-template-areas:
        "Aside-Header"
        "Aside-1"
        "Aside-2"
        "Aside-3"
        "Aside-4"
        "Aside-5";
}

.btn3d-Header {
    width: 12.5vw;
    height: 12vh;
    min-width: 10em;
    min-height: 7em;
    grid-area: Aside-Header;
    background-color: #282c3085 !important;
    display: flex !important;
    border-radius: 0.6em;
}

.btn3d-Header-text {
    margin: auto;
    color: rgb(255, 127, 0) !important;
    font-size: 1.3em;
}

.btn3d {
    position: relative;
    top: 0.5em;
    width: 11.5vw;
    height: 6vh;
    min-width: 9em;
    min-height: 3.5em;
    border-radius: 0.6em;
	border: 0.2em solid #282c30;
	transition: all 150ms linear;
	margin-top: 1.4em !important;
    padding: 1.2em !important;
    font-size: 1em;
    text-decoration: none !important;
}

.btn3d:active,
.btn3d.active {
	top: 0.4em;
    padding: 1em !important;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(255, 127, 1, 0.8) !important;
    border-color: rgb(126, 63, 0)  !important;
    width: 12.5vw;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    text-decoration: underline !important;
}

.btn3d:active {
    font-size: 1em;
    margin-right: -0.1em;
    margin-top: 0.05em;
    border-color: rgb(185, 194, 201) !important;
    transform: translateY(-0.5em);
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
    text-decoration: none;
}

.Aside-1 {
    grid-area: Aside-1;
    text-decoration: underline;
    color: rgb(185, 194, 201) !important;
    background-color: rgba(49, 116, 189, 0.5);
}
.Aside-2 {
    grid-area: Aside-2;
    text-decoration: underline;
    color: rgb(185, 194, 201) !important;
    background-color: rgba(0, 128, 0, 0.5);
}

.Aside-3 {
    grid-area: Aside-3;
    text-decoration: underline;
    color: rgb(185, 194, 201) !important;
    background-color: rgba(128, 0, 0, 0.5);
}

.Aside-4 {
    grid-area: Aside-4;
    text-decoration: underline;
    color: rgb(185, 194, 201) !important;
    background-color: rgba(128, 0, 128, 0.4);
}

.Aside-5 {
    grid-area: Aside-5;
    text-decoration: underline;
    color: rgb(185, 194, 201) !important;
    background-color: rgba(128, 128, 128, 0.4);
}

.list-group-item1:hover {
    background-color: rgb(49, 116, 189);
    font-size: 1em;
    z-index: 10;
    width: 12.5vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.list-group-item2:hover {
    background-color: rgb(0, 128, 0);
    font-size: 1em;
    z-index: 10;
    width: 12.5vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.list-group-item3:hover {
    background-color: rgb(128, 0, 0);
    font-size: 1em;
    z-index: 10;
    width: 12.5vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.list-group-item4:hover {
    background-color: rgb(128, 0, 128);
    font-size: 1em;
    z-index: 10;
    width: 12.5vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.list-group-item5:hover {
    background-color: rgb(128, 128, 128);
    font-size: 1em;
    z-index: 10;
    width: 12.5vw;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}