/*
// CSS HEX
--lavender-web: #eae8ffff;
--light-gray: #d8d5dbff;
--silver-metallic: #adacb5ff;
--space-cadet: #2d3142ff;
--baby-blue-eyes: #b0d7ffff;
 
// CSS HSL
--lavender-web: hsla(245, 100%, 95%, 1);
--light-gray: hsla(270, 8%, 85%, 1);
--silver-metallic: hsla(247, 6%, 69%, 1);
--space-cadet: hsla(229, 19%, 22%, 1);
--baby-blue-eyes: hsla(210, 100%, 85%, 1);

// SCSS HEX 
$lavender-web: #eae8ffff;
$light-gray: #d8d5dbff;
$silver-metallic: #adacb5ff;
$space-cadet: #2d3142ff;
$baby-blue-eyes: #b0d7ffff;

// SCSS HSL 
$lavender-web: hsla(245, 100%, 95%, 1);
$light-gray: hsla(270, 8%, 85%, 1);
$silver-metallic: hsla(247, 6%, 69%, 1);
$space-cadet: hsla(229, 19%, 22%, 1);
$baby-blue-eyes: hsla(210, 100%, 85%, 1);

// SCSS RGB
$lavender-web: rgba(234, 232, 255, 1);
$light-gray: rgba(216, 213, 219, 1);
$silver-metallic: rgba(173, 172, 181, 1);
$space-cadet: rgba(45, 49, 66, 1);
$baby-blue-eyes: rgba(176, 215, 255, 1);

// SCSS Gradient
$gradient-top: linear-gradient(0deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-right: linear-gradient(90deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-bottom: linear-gradient(180deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-left: linear-gradient(270deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-top-right: linear-gradient(45deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-bottom-right: linear-gradient(135deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-top-left: linear-gradient(225deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-bottom-left: linear-gradient(315deg, #eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);
$gradient-radial: radial-gradient(#eae8ffff, #d8d5dbff, #adacb5ff, #2d3142ff, #b0d7ffff);

*/

