.Footer {
    z-index: 8888 !important;
    min-height: 3rem;
    color: rgb(255, 127, 0);
    display: flex;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}

.Footer-text-left {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto;
    margin-right: 0.3em;
}

.Footer-text-right {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: 0.3em;
    margin-right: auto;
}

.Footer a {
    color: rgb(255, 127, 0);
    transition: background-color 0.8s;
    font-size: 1.1em;
    margin-top: auto;
    margin-bottom: auto;
}

.Footer a:hover {
    background-color: rgba(255, 68, 0, 0.2);
    color: cyan;
    border-radius: 0.5em;
    padding: 0.2em;
    font-size: 1.5em;
}