.Header {
  z-index: 9999;
  min-height: 2.2rem;
  background-color: #282c34;
}

.Header-logo {
  pointer-events: none;
  height: 2.2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .Header-logo {
    animation: Header-logo-spin infinite 18s linear;
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}