.Nav {
    z-index: 999;
    margin-top: 2.2rem;
    min-height: 3.7rem;
    box-shadow: 0 0.4em 0.3em 0.1em rgba(49, 66, 80, 0.66), 
                0 1px 0px 1px rgba(0, 0, 0, 0.9);
}

.Nav-tools {
    margin-top: 5.7em;
    position: absolute;
    z-index: 77 !important;
    width: 100%;
    height: 3.2rem;
    box-shadow: 0 0.4em 0.3em 0.1em rgba(49, 66, 80, 0.8), 
                0 1px 0px 1px rgba(0, 0, 0, 0.9);
}

.Nav-tool-btn {
    cursor: pointer;
    margin-left: 4em;
    margin-right: 0.5em;
    float: right;
    box-shadow: 0 0.1em 0.3em 0.1em rgb(39, 52, 63);
}

.Nav-tool-btn:hover {
    font-size: 1.4em;
    margin-left: 3.5em;
    margin-right: 0.4em;
    box-shadow: 0 0.1em 0.3em 0.1em rgba(49, 66, 80, 0.8);
}

.Nav-tool-btn:active {
    margin-left: 3.5em;
    margin-right: 0.4em;
    box-shadow: 0 0.1em 0.3em 0.1em rgba(58, 78, 95, 0.8);
    transform: translateY(0.1em);
}

.Nav-tool-btn-icon {
    width: 1.4em;
    height: 1.4em;
    margin-top: -0.1em;
}

.Nav-tool-btn-name {
    font-size: 1.1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 127, 0);
}

.Nav-app-icon {
    height: 2.5rem;
    margin-right: 0.5em;
    box-shadow: 0 0.1em 0.3em 0.1em rgba(49, 66, 80, 0.8);
}

.Nav-app-title {
    font-weight: bold;
    font-size: 1.8rem;
    vertical-align: bottom;
    line-height: 0.9em;
    color: rgb(0, 200, 200);
    box-shadow: 0 0.4em 1em 0.2em rgba(49, 66, 80, 0.86);
}

.Nav-account-btn {
    cursor: pointer;
    float: right;
    box-shadow: 0 0.1em 0.3em 0.1em rgb(39, 52, 63);
}

.Nav-account-btn:hover {
    font-size: 1.4em;
    margin-right: -0.1em;
    margin-top: 0.05em;
    box-shadow: 0 0.1em 0.3em 0.1em rgba(49, 66, 80, 0.8);
}

.Nav-account-btn:active {
    margin-right: -0.1em;
    margin-top: 0.05em;
    box-shadow: 0 0.1em 0.3em 0.1em rgba(58, 78, 95, 0.8);
    transform: translateY(0.1em);
}

.Nav-account-btn-image {
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.5em;
    margin-top: -0.1em;
}

.Nav-account-name {
    font-size: 1.1rem;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 127, 0);
}

.dropdown-menu-position {
    position: absolute;
    display: flex;
    left: auto;
    right: 1.2rem;
}